.section {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem; /* space-y-16 */
}

@media (min-width: 768px) {
  .section {
    gap: 6rem; /* md:space-y-24 */
  }
}

.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* space-y-6 */
}

.imageContainer {
  width: 12rem;
  height: 12rem;
  border-radius:  72px 72px 0 0;
  background-color: #f8fafc; /* slate-50 */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;
}

@media (min-width: 768px) {
  .imageContainer {
    width: 10rem;
    height: 10rem;
  }
}

.imagePlaceholder {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(28, 49, 99, 0.1);
  font-family: var(--font-lora);
  font-size: 3rem;
}

.name {
  font-family: var(--font-lora);
  font-size: clamp(2.5rem, 2vw, 3.5rem); /* 3xl */
  line-height: 1.2;
  font-weight: 400;
  color: var(--color-gold-accent);
  padding: 0 2rem;
}

@media (min-width: 768px) {
  .name {
    font-size: 2.25rem; /* 4xl */
  }
}

@media (min-width: 1024px) {
  .name {
    font-size: 3rem; /* 5xl */
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: var(--color-navy-deep);
  font-family: var(--font-mulish);
  font-size: clamp(1rem, 2vw, 1.25rem); /* sm */
  line-height: 1.4;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.040);
  padding: 1rem;
  border-radius: 24px;
  width: 16rem;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .details {
    font-size: 1rem; /* base */
  }
}

.divider {
  font-family: var(--font-lora);
  font-size: clamp(3rem, 2vw, 3.5rem);
  color: var(--color-gold-accent);
  font-weight: 300;
  line-height: 1.2;
}
