.container {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .container {
    height: 600px;
  }
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(28, 49, 99, 0.2); /* navy-primary/20 */
}
